@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
*/

button, label, .grid-item{
  @apply select-none
}

.custom-height{
  height: calc(100% - 48px);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  gap: 1rem;
}

td{
  min-width: 5rem;
  text-overflow: ".";
  overflow: hidden;
  white-space: nowrap;
}

td{
  @apply text-sm lg:text-base
}

.grid-container-small {
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  gap: 1rem;
}

input{
  @apply min-w-20 bg-white
}

button{
  @apply rounded-md shadow-md hover:scale-105 p-4 bg-sky-700 cursor-pointer hover:bg-sky-600
}

.non-editable{
  @apply p-2 bg-gray-600 rounded-md text-center select-none
}
